@if (User.Identity.IsAuthenticated)
{
    <li class="list-inline-item">
        @Html.ActionLink("Exit",
                         "Logout",
                         "Account",
                         routeValues: null,
                         htmlAttributes: new { @class ="btn btn-outline-danger",
                             title ="Run out from here!" }

       )
    </li>
}
else
{
    <li class="list-inline-item">
        @Html.ActionLink("Sing up",
                         "Register",
                         "Account",
                         routeValues: null,
                         htmlAttributes: new { @class ="btn btn-outline-success",
                             title ="Hello, my dear New Friend!" }

       )
    </li>
    <li class="list-inline-item">
        @Html.ActionLink("Sing in",
                         "Login",
                         "Account",
                         routeValues: null,
                         htmlAttributes: new { @class ="btn btn-outline-primary",
                             title ="Hello, my dear OLD Friend!" }

       )
    </li>
}